/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*
!/storage/geoip/
!/storage/geoip/GeoLite2-City.mmdb
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
